[Use]
Description=Daemon for spring-petclinic application

[Service]
Environment={{ DB_USER }}
Environment={{ DB_NAME }}
Environment={{ DB_PASS }}
Environment={{ DB_HOST }}
Environment={{ DB_PORT }}
ExecStart=/usr/bin/java -jar {{app_dir}}/{{item}}

[Install]
WantedBy=multi-user.target

